nav{
  background: rgba(0, 0, 0, 0.1);
  width: max-content;
  padding: 0.2rem 1rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2%;
  font-size: 2rem;
  display: flex;
  gap: 2rem;
  border-radius: 3rem;
  backdrop-filter: blur(5px);
}

.active{
  color: var(--color-white);
}

